body {
    background-color: #FFE3E3;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

#calculator {
    background-color: #262A53;
    border-radius: 10px;
    box-shadow: 0px 0px 15px black;
    margin: auto;
    margin-top: 5vh;
    width: 60vw; /* FIX RESPONSIVE WIDTH */
    max-width: 490px;
    height: 80vh;
    display: grid;
    grid-template-areas: "display-area"
                         "buttons-area";
    grid-template-rows: 20% 80%;
    grid-template-columns: 100%;
    justify-content: center;
}

#buttons {
    grid-area: buttons-area;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#display {
    background-color: rgb(175, 175, 175);
    margin: 1.5vmax;
    border-radius: 15px;
    display: flex;
    place-items: center;
}

#display-text {
    font-size: 6vh;
    margin-left: 2vw;
}

#numbers {
    width: 63%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    place-items: center;
}

#operations {
    width: 35%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    place-items: center;
}

button {
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0px 0px 10px black;
    font-size: 3.5vmin;
    border-style: none;
    background-color:#628395;
    width: 10vmin;
    min-width: 50px;
    height: 10vmin;
    min-height: 50px;
    transition: transform 70ms ease;
}

.op-button {
    background-color: #FFA0A0;
}

.sp-button {
    background-color: #91b6ca;
}

button:hover {
    color: white;
    text-shadow: 0px 0px 2px white;
}

button:active {
    transform: scale(0.9);
}

.pressed {
    color: white;
    text-shadow: 0px 0px 2px white;
    transform: scale(0.9);
}